body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
[data-fls-popup-open] body::after {
	opacity: 1;
}
[data-fls-popup] {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	&[data-fls-popup-active] {
		z-index: 150;
		visibility: visible;
		overflow: auto;
		pointer-events: auto;
	}
}
[data-fls-popup-active] [data-fls-popup-body] {
	visibility: visible;
	transform: scale(1);
}
[data-fls-popup-wrapper] {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
[data-fls-popup-body] {
	visibility: hidden;
	transition:
		transform 0.3s ease 0s,
		visibility 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	height: 100%;
	flex-grow: 1;
}

[data-fls-popup-youtube-place] iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
}

[data-fls-popup-close] {
	width: 20px;
	aspect-ratio: 1;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 2px;
		background-color: #000;
		translate: -50% -50%;
	}
	&::before {
		rotate: 45deg;
	}
	&::after {
		rotate: -45deg;
	}
}
