<div data-fls-index class="index">
	<section class="index__promo promo">
		<div class="promo__container">
			<div class="promo__content">
				<h1 class="promo__title title title--big title--c-dark">Прокат квадроциклів</h1>
				<h4 class="promo__place title">у славському</h4>
				<div class="promo__advantages advantages">
					<div class="advantages__item">
						<div class="advantages__icon">
							<img src="@img/icons/vehicle.svg" alt="Image">
						</div>
						<div class="advantages__label">Досвідчені інструктори</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__icon">
							<img src="@img/icons/helmet.svg" alt="Image">
						</div>
						<div class="advantages__label">екіпірування надаємо</div>
					</div>
				</div>
			</div>
			<div class="promo__picture">
				<img src="@img/promo/atv.png" alt="image atv" class="promo__img">
				<img src="@img/promo/decor.svg" aria-hidden="true" alt="decor" class="promo__decor">
				<div class="promo__detail detail">
					<div class="detail__icon">
						<img src="@img/icons/atv.svg" alt="icon atv">
					</div>
					<div class="detail__descr">Детальніше про наші квадроцикли</div>
				</div>
			</div>
		</div>
		<div class="promo__bg bg-promo">
			<img src="@img/promo/background/layer-01.svg" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--1">
			<img src="@img/promo/background/layer-02.png" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--2">
			<img src="@img/promo/background/layer-03.png" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--3">
			<img src="@img/promo/background/layer-04.svg" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--4">
		</div>
	</section>
</div>
