<div data-fls-index class="index">
	<section class="index__promo promo">
		<div class="promo__container">
			<div class="promo__content">
				<h1 class="promo__title title title--left title--big title--c-dark">Прокат квадроциклів</h1>
				<h4 class="promo__place title title--left">у славському</h4>
				<div class="promo__advantages advantages">
					<div class="advantages__item">
						<div class="advantages__icon">
							<img src="@img/icons/vehicle.svg" alt="Image">
						</div>
						<div class="advantages__label">Досвідчені інструктори</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__icon">
							<img src="@img/icons/helmet.svg" alt="Image">
						</div>
						<div class="advantages__label">екіпірування надаємо</div>
					</div>
				</div>
			</div>
			<div class="promo__picture">
				<img src="@img/promo/atv.png" alt="image atv" class="promo__img">
				<img src="@img/promo/decor.svg" aria-hidden="true" alt="decor" class="promo__decor">
				<div class="promo__detail detail">
					<div class="detail__icon">
						<img src="@img/icons/atv.svg" alt="icon atv">
					</div>
					<div class="detail__descr">Детальніше про наші квадроцикли</div>
				</div>
			</div>
		</div>
		<div class="promo__bg bg-promo">
			<img src="@img/promo/background/layer-01.svg" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--1">
			<img src="@img/promo/background/layer-02.png" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--2">
			<img src="@img/promo/background/layer-03.png" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--3">
			<img src="@img/promo/background/layer-04.svg" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--4">
		</div>
	</section>
	<div class="index__find find">
		<div class="find__container">
			<div class="find__body">
				<form data-fls-dev action="#" class="find__form form-find">
					<div class="form-find__column">
						<label for="#" class="form-find__label">Оберіть складність</label>
						<select name="form[]" data-fls-select data-fls-select-modif="form-find__select">
							<option value="1">Легка</option>
							<option value="2" selected>Середня</option>
							<option value="3">Важка</option>
							<option value="4">Неможлива</option>
						</select>
					</div>
					<div class="form-find__column">
						<label for="#" class="form-find__label">Тривалість</label>
						<select name="form[]" data-fls-select data-fls-select-modif="form-find__select">
							<option value="1">Від 1 години</option>
							<option value="2" selected>Від 2 годин</option>
							<option value="3">Від 3 годин</option>
							<option value="4">Від 4 годин</option>
						</select>
					</div>
					<div class="form-find__column">
						<label for="#" class="form-find__label">Ціна</label>
						<div class="form-find__price">1500 грн</div>
						<div class="form-find__text">за квадроцикл/година</div>
					</div>
					<button type="submit" class="form-find__button">Знайти варіанти</button>
				</form>
				<img src="@img/find-bg.png" alt="background" aria-hidden="true" class="find__bg">
			</div>
		</div>
	</div>
	<section class="about">
		<div class="about__top top-about">
			<div class="top-about__container">
				<h3 class="top-about__title title">
					<span>Ми надаємо прокат квадроциклів у Славському для всіх, хто хоче поєднати</span> активний відпочинок, адреналін
					та справжні
					гірські краєвиди.
				</h3>
			</div>
		</div>
		<div class="about__bottom bottom-about">
			<div class="bottom-about__container">
				<div class="bottom-about__content">
					<div class="bottom-about__wrapper">
						<h4 class="bottom-about__info">
							Організовуємо катання на квадроциклах гірськими маршрутами, лісовими дорогами та полонинами, відкриваючи
							унікальні
							локації Карпат, куди не дістатися звичайним транспортом.
						</h4>
						<div class="bottom-about__text">
							<p>
								Наш сервіс підходить як для новачків без досвіду, так і для тих, хто вже має навички керування квадроциклом і
								шукає більш складні маршрути.
							</p>
							<p>
								Перед кожною поїздкою проводиться обов’язковий інструктаж з безпеки, підбирається маршрут відповідно до рівня
								підготовки та погодних умов, а також надається захисне екіпірування. Квадроцикли регулярно проходять технічне
								обслуговування, що гарантує комфортне та безпечне катання у будь-яку пору сезону.
							</p>
						</div>
					</div>
					<a href="#" class="bottom-about__button button">Забронювати заїзд</a>
				</div>
				<div class="bottom-about__befits befits">
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/finish-flag.svg" alt="icon finish flag">
						</div>
						<div class="befits__label">Без досвіду — навчимо</div>
					</div>
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/vehicle.svg" alt="icon vehicle">
						</div>
						<div class="befits__label">Сучасні квадроцикли</div>
					</div>
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/helmet.svg" alt="icon helmet">
						</div>
						<div class="befits__label">Безпечно та з інструктором</div>
					</div>
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/calendar.svg" alt="icon calendar">
						</div>
						<div class="befits__label">Працюємо щодня</div>
					</div>
				</div>
			</div>
			<div class="bottom-about__bg">
				<img src="@img/race-bg.jpg" aria-hidden="true" alt="background">
			</div>
		</div>
	</section>
	<section class="routes">
		<div class="routes__top">
			<div class="toutes__container">
				<h2 class="routes__title title">Маршрути для заїздів</h2>
				<div class="routes__subtitle">Маршрут підбираємо індивідуально залежно від рівня та погоди.</div>
			</div>
		</div>
		<div class="routes__content">
			<div data-fls-slider class="routes__slider swiper">
				<div class="routes__wrapper swiper-wrapper">
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 1</div>
							<h3 class="card-route__title title">Гора Ільза</h3>
							<div class="card-route__text">
								<p>
									Гарний оглядовий маршрут для початківців, дві зупинки для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 3</div>
							<h3 class="card-route__title title">Гора Захар Беркут</h3>
							<div class="card-route__text">
								<p>
									Маршрут з однією зупинкою на горі для фото та є можливість скористатися розвагами на горі (покататися на конях,
									тарзанка, піти поїсти або випити кави).
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<div class="routes__block">
			<div class="routes__actions">
				<div class="swiper-scrollbar"></div>
				<div class="routes__buttons">
					<button type="button" class="swiper-button swiper-button-prev --icon-arrow"></button>
					<button type="button" class="swiper-button swiper-button-next --icon-arrow"></button>
				</div>
			</div>
		</div>
		<img src="@img/decors/routes-decor.jpg" aria-hidden="true" alt="background" class="routes__bg">
	</section>
	<section class="driving">
		<div class="driving__container">
			<h2 class="driving__title title">Як проходить заїзд</h2>
			<div class="driving__items">
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/clock-filled.svg" alt="icon">
					</div>
					<h4 class="item-driving__title">Приїзд на локацію</h4>
					<div class="item-driving__text">
						на попередньо обговорений час вчасно
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/clock-filled.svg" alt="icon">
					</div>
					<h4 class="item-driving__title">Приїзд на локацію</h4>
					<div class="item-driving__text">
						на попередньо обговорений час вчасно
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/clock-filled.svg" alt="icon">
					</div>
					<h4 class="item-driving__title">Приїзд на локацію</h4>
					<div class="item-driving__text">
						на попередньо обговорений час вчасно
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/clock-filled.svg" alt="icon">
					</div>
					<h4 class="item-driving__title">Приїзд на локацію</h4>
					<div class="item-driving__text">
						на попередньо обговорений час вчасно
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/clock-filled.svg" alt="icon">
					</div>
					<h4 class="item-driving__title">Приїзд на локацію</h4>
					<div class="item-driving__text">
						на попередньо обговорений час вчасно
					</div>
				</div>
			</div>
		</div>
		<img src="@img/decors/decor-trace.svg" alt="decor" aria-hidden="true" class="driving__decor">
	</section>
	<section class="reviews">
		<div class="reviews__content">
			<h2 class="reviews__title title">Відгуки</h2>
			<div class="reviews__items">
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-01.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Каталися вперше — емоцій море.</h3>
						<div class="item-review__text">
							<p>
								Інструктор все спокійно пояснив, маршрут цікавий, техніка в хорошому стані. Було безпечно і водночас драйвово.
								Обов’язково приїдемо ще.
							</p>
						</div>
					</div>
				</article>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-02.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Дуже сподобалась організація.</h3>
						<div class="item-review__text">
							<p>
								Видно, що люди знають свою справу: екіпірування чисте, квадроцикли доглянуті, маршрут продуманий. Чудовий
								варіант активного відпочинку на вихідні.
							</p>
						</div>
					</div>
				</article>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-03.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Збирались друзями — всі залишилися задоволені.</h3>
						<div class="item-review__text">
							<p>
								Є і швидкі ділянки, і місця, де можна спокійно насолодитися природою. Гарне співвідношення ціни та вражень.
							</p>
						</div>
					</div>
				</article>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-04.jpg" alt="review">
					</div>
				</article>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-05.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Збирались друзями — всі залишилися задоволені.</h3>
						<div class="item-review__text">
							<p>
								Є і швидкі ділянки, і місця, де можна спокійно насолодитися природою. Гарне співвідношення ціни та вражень.
							</p>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>
