.index {
	// .index__promo
	&__promo {
	}
	// .index__find
	&__find {
		position: relative;
		z-index: 20;
		margin-top: percent(-280, 1440);
	}
}

//========================================================================================================================================================
.promo {
	position: relative;
	// .promo__container
	&__container {
		z-index: 10;
		position: relative;
		@media (min-width: toEm($mobile)) {
			display: flex;
			padding-top: max(percent(128, 1440), 80px);
			padding-bottom: percent(280, 1440);
		}
		@media (max-width: toEm($mobile)) {
			padding-bottom: 40px;
		}
	}
	// .promo__content
	&__content {
		@media (min-width: toEm($mobile)) {
			flex-basis: 560px;
			padding-top: percent(109, 1240);
		}
		@media (max-width: toEm($mobile)) {
			padding-top: 90px;
			margin-bottom: 48px;
		}
		@media (max-width: toEm(575)) {
			margin-bottom: 20px;
		}
		@media (max-width: toEm(400)) {
			padding-top: 75px;
		}
	}
	// .promo__title
	&__title {
		margin-bottom: toEm(20, 52);
	}
	// .promo__place
	&__place {
		margin-bottom: toEm(30, 32);
	}
	// .promo__advantages
	&__advantages {
	}
	// .promo__picture
	&__picture {
		position: relative;
		@media (min-width: toEm($mobile)) {
			min-width: 520px;
			flex-basis: 648px;
		}
		@media (max-width: toEm($mobile)) {
			min-width: 459px;
			padding-top: 70px;
		}
		@media (max-width: toEm($mobileSmall)) {
			padding-top: 55px;
			padding-top: 45px;
		}
	}
	// .promo__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 642 / 461;
		position: relative;
		z-index: 1;
	}
	// .promo__decor
	&__decor {
		display: none;
		@media (min-width: toEm($mobile)) {
			display: block;
			position: absolute;
			bottom: -7px;
			left: percent(10, 648);
			min-width: percent(1423, 648);
		}
	}
	// .promo__detail
	&__detail {
		position: absolute;
		top: percent(8, 465);
		max-width: 246px;
		@media (min-width: toEm($mobile)) {
			left: percent(-90, 648);
		}
	}
	// .promo__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
	}
}

.bg-promo {
	// .bg-promo__layer
	&__layer {
		position: absolute;
		width: 100%;
		left: 0;
		// .bg-promo__layer--1
		&--1 {
			bottom: 0;
			bottom: 20px;
			z-index: 3;
			@media (max-width: toEm($mobile)) {
				bottom: percent(100, 943);
			}
		}
		// .bg-promo__layer--2
		&--2 {
			bottom: percent(160, 943);
			bottom: percent(180, 943);
			z-index: 2;
		}
		// .bg-promo__layer--3
		&--3 {
			display: none;
			@media (min-width: toEm($mobile)) {
				display: block;
				width: percent(167, $maxWidthContainer);
				bottom: percent(360, 943);
				bottom: percent(380, 943);
				left: 0;
			}
		}
		// .bg-promo__layer--4
		&--4 {
			display: block;
			width: percent(612, $maxWidthContainer);
			bottom: percent(160, 943);
			bottom: percent(180, 943);
			left: percent(375, 1440);
			@media (max-width: toEm($mobile)) {
				left: 0;
				z-index: 2;
				left: percent(-190, 1440);
				scale: -1 1;
			}
		}
	}
}

.advantages {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(min(222px, 100%), 1fr));
	@media (max-width: toEm($mobile)) {
		grid-template-columns: repeat(auto-fill, minmax(min(180px, 100%), 1fr));
		gap: 12px;
	}
	// .advantages__item
	&__item {
		display: flex;
		align-items: center;
		gap: 16px;
		@media (max-width: toEm($mobileSmall)) {
			gap: 7px;
		}
	}
	// .advantages__icon
	&__icon {
		width: 46px;
		flex-shrink: 0;
		aspect-ratio: 1;
		background-color: $accentColor;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: percent(28, 46);
		}
		@media (max-width: toEm($mobile)) {
			width: 32px;
		}
	}
	// .advantages__label
	&__label {
		font-family: $fontDela;
		line-height: 1.1;
		text-transform: uppercase;
		color: $darkColor;
		@media (max-width: toEm($mobile)) {
			font-size: 14px;
			line-height: 1.4;
		}
	}
}
.detail {
	border-radius: 24px 24px 0 24px;
	padding: 16px;
	background-color: $grayColor;
	display: flex;
	align-items: center;
	column-gap: 8px;
	@media (max-width: toEm($mobileSmall)) {
		padding: 8px;
	}
	// .detail__icon
	&__icon {
		width: 46px;
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: $accentColor;
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		img {
			width: percent(28, 46);
		}
		@media (max-width: toEm($mobileSmall)) {
			width: 32px;
		}
	}
	// .detail__descr
	&__descr {
		font-weight: 600;
		line-height: 1.3;
		color: $darkColor;
		@media (max-width: toEm($mobileSmall)) {
			font-size: 12px;
		}
	}
}
//========================================================================================================================================================
.find {
	// .find__container
	&__container {
	}
	// .find__body
	&__body {
		position: relative;
	}
	// .find__form
	&__form {
	}
	// .find__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 24px;
		object-fit: cover;
	}
}
.form-find {
	position: relative;
	z-index: 1;
	padding: 24px;
	display: grid;
	gap: 24px;
	color: #fff;
	border-radius: 24px;
	box-shadow: 0 8px 20px 0 $boxShadowColor;
	@media (min-width: toEm($mobile)) and (max-width: toEm(1200)) {
		grid-template-columns: repeat(3, minmax(auto, 1fr));
	}
	@media (min-width: toEm(1201)) {
		grid-template-columns: repeat(3, minmax(auto, 1fr)) minmax(auto, 400px);
	}
	@media (max-width: toEm($mobile)) {
		gap: 16px;
	}
	// .form-find__column
	&__column {
		> * {
			margin-bottom: 4px;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	// .form-find__label
	&__label {
		font-weight: 500;
		margin-bottom: 8px;
	}
	// .form-find__price
	&__price {
		font-family: $fontDela;
		font-size: 24px;
		text-transform: uppercase;
		color: $lightColor;
	}
	// .form-find__text
	&__text {
		font-weight: 500;
	}
	// .form-find__button
	&__button {
		border-radius: 16px;
		padding: 26px 24px;
		background-color: $mainColor;
		font-size: 24px;
		text-transform: uppercase;
		color: $lightColor;
		font-family: $fontDela;
		line-height: 1.1;
		transition: background-color 0.3s;
		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover {
					background-color: $mainColorHover;
				}
			}
		}
		@media (min-width: toEm($mobile)) and (max-width: toEm(1200)) {
			grid-column: span 3;
		}
		@media (max-width: toEm($tablet)) {
			padding-block: 24px;
			font-size: 16px;
		}
	}
}

//========================================================================================================================================================

.about {
	overflow: hidden;
	background-color: $lightColor;
	position: relative;
	z-index: 10;
	@include adaptiveValue("padding-top", 135, 60);
	// .about__top
	&__top {
	}
	// .about__bottom
	&__bottom {
	}
}
.top-about {
	@media (min-width: toEm($tablet)) {
		padding-bottom: 50px;
	}
	// .top-about__container
	&__container {
	}
	// .top-about__title
	&__title {
		max-width: 1030px;
		margin-inline: auto;
		span {
			display: block;
			color: $darkColor;
		}
	}
}
.bottom-about {
	position: relative;
	padding-block: 170px 115px;
	@media (max-width: toEm($mobile)) {
		padding-top: 190px;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		background: url("@img/decors/decor-light.svg") 0 100% no-repeat;
	}
	&::before {
		top: 0;
		height: 160px;
	}
	&::after {
		height: 170px;
		bottom: 0;
		background: url("@img/decors/decor-dark.svg") 0 0 no-repeat;
	}
	// .bottom-about__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px 30px;
		@media (max-width: toEm($tablet)) {
			flex-direction: column;
		}
	}
	// .bottom-about__content
	&__content {
		position: relative;
		z-index: 1;
		@media (min-width: toEm($tablet)) {
			flex-basis: 553px;
		}
	}
	// .bottom-about__wrapper
	&__wrapper {
		border-radius: 16px;
		padding: 32px 24px;
		background-color: $darkColor;
		color: $lightColor;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	// .bottom-about__info
	&__info {
		font-family: $fontDela;
		line-height: 1.3;
		text-transform: uppercase;
		color: #e9bb21;
		&:not(:last-child) {
			margin-bottom: 26px;
		}
		@media (max-width: toEm($mobileSmall)) {
			font-size: 12px;
		}
	}
	// .bottom-about__text
	&__text {
		line-height: 1.3;
		p:not(:last-child) {
			margin-bottom: 26px;
		}
		@media (max-width: toEm($mobileSmall)) {
			font-size: 14px;
		}
	}
	// .bottom-about__button
	&__button {
		width: 100%;
	}
	// .bottom-about__befits
	&__befits {
	}
	// .bottom-about__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(16, 16, 16, 0.6);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.befits {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, minmax(auto, 240px));
	@media (max-width: toEm($mobileSmall)) {
		gap: 12px;
	}
	// .befits__item
	&__item {
		text-align: center;
		color: $lightColor;
	}
	// .befits__icon
	&__icon {
		width: 76px;
		aspect-ratio: 1;
		background-color: $lightColor;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
		border-radius: 24px;
		img {
			width: percent(40, 76);
		}
	}
	// .befits__label
	&__label {
		line-height: 1.1;
		text-transform: uppercase;
		font-family: $fontDela;
		@media (max-width: toEm($mobile)) {
			line-height: 1.4;
		}
		@media (max-width: toEm($mobileSmall)) {
			font-size: 12px;
		}
	}
}

//========================================================================================================================================================
.driving {
	position: relative;
	@include adaptiveValue("padding-block", 140, 60);
	// .driving__container
	&__container {
	}
	// .driving__title
	&__title {
		margin-bottom: toEm(46, 32);
	}
	// .driving__items
	&__items {
		@media (min-width: toEm(576)) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 22px;
		}
	}
	// .driving__item
	&__item {
		position: relative;

		@media (min-width: toEm(576)) {
			flex-basis: 230px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 20px;
			left: calc(50% + 29px);
			border-top: 4px dashed #bcbcbc;
			width: 192px;
		}
		&:first-child {
			&::after {
				border-color: $accentColor;
			}
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
		@media (min-width: toEm(576)) and (max-width: toEm(1275)) {
			&::after {
				display: none;
			}
		}
		@media (max-width: toEm(575)) {
			&:not(:last-child) {
				margin-bottom: toRem(32);
			}
			&::after {
				width: auto;
				height: 36px;
				top: 100%;
				left: 22px;
				border-top: none;
				border-left: 4px dashed #bcbcbc;
			}
		}
	}
	// .driving__decor
	&__decor {
		position: absolute;
		width: 100%;
		height: 879px;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.item-driving {
	text-align: center;
	@media (min-width: toEm(576)) {
		> * {
			margin-bottom: 8px;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
	@media (max-width: toEm(575)) {
		display: grid;
		grid-template-columns: 46px 1fr;
		align-items: start;
		column-gap: 16px;
		row-gap: 2px;
		text-align: left;
	}
	// .item-driving__icon
	&__icon {
		width: 46px;
		aspect-ratio: 1;
		border-radius: 8px;
		background-color: $accentColor;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		img {
			width: percent(30, 46);
		}
		@media (min-width: toEm(576)) {
			margin-bottom: 16px;
		}
		@media (max-width: toEm(575)) {
			grid-row: span 2;
		}
	}
	// .item-driving__title
	&__title {
		font-family: $fontDela;
		font-size: 24px;
		line-height: 1.3;
		text-transform: uppercase;
		color: $accentColor;
		@media (max-width: toEm($tablet)) {
			font-size: 22px;
		}
		@media (max-width: toEm(575)) {
			font-size: 16px;
		}
	}
	// .item-driving__text
	&__text {
		font-weight: 500;
		line-height: 1.3;
	}
}
