<div data-fls-index class="index">
	<section data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once class="index__promo promo">
		<div class="promo__container">
			<div class="promo__content">
				<h1 class="promo__title title title--left title--big title--c-dark">Прокат квадроциклів</h1>
				<h4 class="promo__place title title--left">у славському</h4>
				<div class="promo__advantages advantages">
					<div class="advantages__item">
						<div class="advantages__icon">
							<img src="@img/icons/vehicle.svg" alt="Image">
						</div>
						<div class="advantages__label">Досвідчені інструктори</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__icon">
							<img src="@img/icons/helmet.svg" alt="Image">
						</div>
						<div class="advantages__label">екіпірування надаємо</div>
					</div>
				</div>
			</div>
			<div class="promo__picture">
				<img src="@img/promo/atv.png" alt="image atv" class="promo__img">
				<img src="@img/promo/decor.svg" aria-hidden="true" alt="decor" class="promo__decor">
				<a href="#" data-fls-popup-link="popup" class="promo__detail detail">
					<div class="detail__icon">
						<img src="@img/icons/atv.svg" alt="icon atv">
					</div>
					<div class="detail__descr">Детальніше про наші квадроцикли</div>
				</a>
			</div>
		</div>
		<div class="promo__bg bg-promo">
			<img src="@img/promo/background/layer-01.svg" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--1">
			<img src="@img/promo/background/layer-02.png" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--2">
			<img src="@img/promo/background/layer-03.png" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--3">
			<img src="@img/promo/background/layer-04.svg" aria-hidden="true" alt="layer"
				class="bg-promo__layer bg-promo__layer--4">
		</div>
	</section>
	<!-- * Old version -->
	<!-- <div data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once id="prices" class="index__find find">
		<div class="find__container">
			<div class="find__body">
				<form data-fls-form="dev" action="#" class="find__form form-find">
					<div class="form-find__column">
						<label for="#" class="form-find__label">Оберіть складність</label>
						<select name="form[]" data-fls-select data-fls-select-modif="form-find__select">
							<option value="1">Легка</option>
							<option value="2" selected>Середня</option>
							<option value="3">Важка</option>
							<option value="4">Неможлива</option>
						</select>
					</div>
					<div class="form-find__column">
						<label for="#" class="form-find__label">Тривалість</label>
						<select name="form[]" data-fls-select data-fls-select-modif="form-find__select">
							<option value="1">Від 1 години</option>
							<option value="2" selected>Від 2 годин</option>
							<option value="3">Від 3 годин</option>
							<option value="4">Від 4 годин</option>
						</select>
					</div>
					<div class="form-find__column">
						<label for="#" class="form-find__label">Ціна</label>
						<div class="form-find__price">1500 грн</div>
						<div class="form-find__text">за квадроцикл/година</div>
					</div>
					<button type="submit" class="form-find__button">Залишити заявку</button>
				</form>
				<img src="@img/find-bg.png" alt="background" aria-hidden="true" class="find__bg">
			</div>
		</div>
	</div> -->
	<div data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once class="index__find find">
		<div class="find__container">
			<div class="find__body">
				<form data-fls-select-one data-fls-form="dev" method="POST" action="#"
					class="find__form form-find">
					<div class="form-find__column">
						<label for="#" class="form-find__label">Оберіть складність</label>
						<select name="complexity" data-fls-select data-fls-select-modif="form-find__select">
							<option value="Легка">Легка</option>
							<option value="Середня" selected>Середня</option>
							<option value="Середньо важка">Середньо важка</option>
							<option value="Важка">Складна</option>
						</select>
					</div>
					<div class="form-find__column">
						<label for="#" class="form-find__label">Тривалість</label>
						<select name="duration" data-fls-select data-fls-select-modif="form-find__select">
							<option value="Від 1 години">Від 1 години</option>
							<option value="Від 2 годин" selected>Від 2 годин</option>
							<option value="Від 3 годин">Від 3 годин</option>
							<option value="Від 4 годин">Від 4 годин</option>
							<option value="5-6 годин">5-6 годин</option>
							<option value="5-6 годин">Денна подорож</option>
						</select>
					</div>
					<div class="form-find__column">
						<label for="#" class="form-find__label">Телефон</label>
						<input data-fls-input data-fls-phone required type="text" name="phone"
							placeholder="+380"
							class="form-find__input">
					</div>
					<button type="submit" class="form-find__button">Залишити заявку</button>
				</form>
				<div class="find__success">Заявка відправлена</div>
				<img src="@img/find-bg.png" alt="background" aria-hidden="true" class="find__bg">
			</div>
		</div>
	</div>
	<section id="about" class="about">
		<div data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once class="about__top top-about">
			<div class="top-about__container">
				<h3 class="top-about__title title">
					<span>Ми надаємо прокат квадроциклів у Славському для всіх, хто хоче поєднати</span> активний відпочинок, адреналін
					та справжні
					гірські краєвиди.
				</h3>
			</div>
		</div>
		<div class="about__bottom bottom-about">
			<div data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once class="bottom-about__container">
				<div class="bottom-about__content">
					<div class="bottom-about__wrapper">
						<h4 class="bottom-about__info">
							Організовуємо катання на квадроциклах гірськими маршрутами, лісовими дорогами та полонинами, відкриваючи
							унікальні
							локації Карпат, куди не дістатися звичайним транспортом.
						</h4>
						<div class="bottom-about__text">
							<p>
								Наш сервіс підходить як для новачків без досвіду, так і для тих, хто вже має навички керування квадроциклом і
								шукає більш складні маршрути.
							</p>
							<p>
								Перед кожною поїздкою проводиться обов’язковий інструктаж з безпеки, підбирається маршрут відповідно до рівня
								підготовки та погодних умов, а також надається захисне екіпірування. Квадроцикли регулярно проходять технічне
								обслуговування, що гарантує комфортне та безпечне катання у будь-яку пору сезону.
							</p>
						</div>
					</div>
					<a href="#" data-fls-scrollto-header data-fls-scrollto=".join" class="bottom-about__button button">Забронювати
						заїзд</a>
				</div>
				<div class="bottom-about__befits befits">
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/finish-flag.svg" alt="icon finish flag">
						</div>
						<div class="befits__label">Без досвіду — навчимо</div>
					</div>
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/vehicle.svg" alt="icon vehicle">
						</div>
						<div class="befits__label">Сучасні квадроцикли</div>
					</div>
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/helmet.svg" alt="icon helmet">
						</div>
						<div class="befits__label">Безпечно та з інструктором</div>
					</div>
					<div class="befits__item">
						<div class="befits__icon">
							<img src="@img/icons/calendar.svg" alt="icon calendar">
						</div>
						<div class="befits__label">Працюємо щодня</div>
					</div>
				</div>
			</div>
			<div class="bottom-about__bg">
				<img src="@img/race-bg.jpg" aria-hidden="true" alt="background">
			</div>
		</div>
	</section>
	<section data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once id="routes" class="routes">
		<div class="routes__top">
			<div class="toutes__container">
				<h2 class="routes__title title">Маршрути для заїздів</h2>
				<div class="routes__subtitle">Маршрут підбираємо індивідуально залежно від рівня та погоди.</div>
			</div>
		</div>
		<div class="routes__content">
			<div data-fls-slider class="routes__slider swiper">
				<div class="routes__wrapper swiper-wrapper">
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 1</div>
							<h3 class="card-route__title title">Гора Ільза</h3>
							<div class="card-route__text">
								<p>
									Гарний оглядовий маршрут для початківців, дві зупинки для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-01.jpg" alt="image route 01">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Легкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 2</div>
							<h3 class="card-route__title title">Гора Ільза </h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Маршрут для тих кому не вистачає години катання і хочеться складнішого катання біля 20км гірським серпантином з
									гарними краєвидами та ще плюс одна зупинка для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-02.jpg" alt="image route 02">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">2 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Середній</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 3</div>
							<h3 class="card-route__title title">Гора Захар Беркут</h3>
							<div class="card-route__text">
								<p>
									Маршрут з однією зупинкою на горі для фото та є можливість скористатися розвагами на горі (покататися на конях,
									тарзанка, піти поїсти або випити кави).
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-03.jpg" alt="image route 03">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">1 година</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Середній</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">1500 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 4</div>
							<h3 class="card-route__title title">Гора Зазар Беркут</h3>
							<div class="card-route__detail">+ гірська карусель </div>
							<div class="card-route__text">
								<p>
									В маршрут входить три зупинки для фото їзда гірськими хребтами з гарними краєвидами та можливість покататися на
									гірській каруселі.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-04.jpg" alt="image route 04">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">2 години</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Середній</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 5</div>
							<h3 class="card-route__title title">Круговий маршрут</h3>
							<div class="card-route__detail">+ лісовий маршрут </div>
							<div class="card-route__text">
								<p>
									Цікавий маршрут проходить по кордоні двох областей більш драйвовий маршрут з болотом та гірською річкою.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-05.jpg" alt="image route 05">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">2 години</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Складний</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 6</div>
							<h3 class="card-route__title title">Озеро Віта</h3>
							<div class="card-route__text">
								<p>
									Цікавий маршрут з заїздом на озеро Віта.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-06.jpg" alt="image route 06">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">2 години</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Середній</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 7</div>
							<h3 class="card-route__title title">Озеро віта</h3>
							<div class="card-route__detail">+ круговий маршрут</div>
							<div class="card-route__text">
								<p>
									Поєднує в собі легкість драйв болотом річкою та складність проходження.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-07.jpg" alt="image route 07">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">3 години</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Середньо-важкий</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 8</div>
							<h3 class="card-route__title title">Маршрут на три області</h3>
							<div class="card-route__text">
								<p>
									Маршрут з гарними краєвидами їзда полонинами драйвовий та сподобається кожному.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-08.jpg" alt="image route 08">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">3 години</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Складний</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 9</div>
							<h3 class="card-route__title title">Водоспад Шипіт</h3>
							<div class="card-route__detail">та озеро Віта</div>
							<div class="card-route__text">
								<p>
									Цікавий маршрут гірськими дорогами з заїздами в цікаві місця та зупинки для фото.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-09.jpg" alt="image route 09">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">4 години</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Складний</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 10</div>
							<h3 class="card-route__title title">Озеро віта</h3>
							<div class="card-route__detail">+ водоспад Шипіт та гора Гимба</div>
							<div class="card-route__text">
								<p>
									Захоплюючий маршрут багато їзди горами максимально цікавий маршрут.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-10.jpg" alt="image route 10">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">5-6 годин</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Складний</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
					<div class="routes__slide swiper-slide">
						<article class="card-route">
							<div class="card-route__label">Маршрут 11</div>
							<h3 class="card-route__title title">Озеро Синевир</h3>
							<div class="card-route__text">
								<p>
									Складний маршрут біля 80 км гірськими дорогами.
								</p>
							</div>
							<div class="card-route__block">
								<a href="#" class="card-route__img">
									<img src="@img/routes/route-11.jpg" alt="image route 11">
								</a>
								<div class="card-route__body">
									<ul class="card-route__list list-route">
										<li class="list-route__item">
											<img src="@img/icons/clock.svg" alt="icon clock" class="list-route__icon">
											<div class="list-route__label">Тривалість:</div>
											<div class="list-route__value">Денна подорож</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/lightning.svg" alt="icon lightning" class="list-route__icon">
											<div class="list-route__label">Складність:</div>
											<div class="list-route__value">Складний</div>
										</li>
										<li class="list-route__item">
											<img src="@img/icons/wallet.svg" alt="icon wallet" class="list-route__icon">
											<div class="list-route__label">Ціна:</div>
											<div class="list-route__value">2000 грн</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<div class="routes__block">
			<div class="routes__actions">
				<div class="swiper-scrollbar"></div>
				<div class="routes__buttons">
					<button type="button" class="swiper-button swiper-button-prev --icon-arrow"></button>
					<button type="button" class="swiper-button swiper-button-next --icon-arrow"></button>
				</div>
			</div>
		</div>
		<img src="@img/decors/routes-decor.jpg" aria-hidden="true" alt="background" class="routes__bg">
	</section>
	<section id="driving" class="driving">
		<div data-fls-watcher data-fls-watcher-margin="0.3" data-fls-watcher-once class="driving__container">
			<h2 class="driving__title title">Як проходить заїзд</h2>
			<div class="driving__items">
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/clock-filled.svg" alt="icon clock">
					</div>
					<h4 class="item-driving__title">Приїзд на локацію</h4>
					<div class="item-driving__text">
						на попередньо обговорений час вчасно
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/helmet.svg" alt="icon helmet">
					</div>
					<h4 class="item-driving__title">Підготовка до їзди</h4>
					<div class="item-driving__text">
						вдягаємо захисні костюми та шоломи
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/vehicle.svg" alt="icon vehicle">
					</div>
					<h4 class="item-driving__title">Інструктаж по їзді</h4>
					<div class="item-driving__text">
						та використанню квадроцикла
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/wallet-credit.svg" alt="icon wallet">
					</div>
					<h4 class="item-driving__title">Оплата</h4>
					<div class="item-driving__text">
						за домовлений час прокату
					</div>
				</div>
				<div class="driving__item item-driving">
					<div class="item-driving__icon">
						<img src="@img/icons/map.svg" alt="icon map">
					</div>
					<h4 class="item-driving__title">Виїзд з локації</h4>
					<div class="item-driving__text">
						по домовленому маршруту
					</div>
				</div>
			</div>
		</div>
		<img src="@img/decors/decor-trace.svg" alt="decor" aria-hidden="true" class="driving__decor">
	</section>
	<section data-fls-watcher data-fls-watcher-threshold="0.25" data-fls-watcher-once id="reviews" class="reviews">
		<div class="reviews__container">
			<h2 class="reviews__title title">Відгуки</h2>
			<div class="reviews__items">
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-01.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Каталися вперше — емоцій море.</h3>
						<div class="item-review__text">
							<p>
								Інструктор все спокійно пояснив, маршрут цікавий, техніка в хорошому стані. Було безпечно і водночас драйвово.
								Обов’язково приїдемо ще.
							</p>
						</div>
					</div>
				</article>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-02.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Дуже сподобалась організація.</h3>
						<div class="item-review__text">
							<p>
								Видно, що люди знають свою справу: екіпірування чисте, квадроцикли доглянуті, маршрут продуманий. Чудовий
								варіант активного відпочинку на вихідні.
							</p>
						</div>
					</div>
				</article>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-03.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Збирались друзями — всі залишилися задоволені.</h3>
						<div class="item-review__text">
							<p>
								Є і швидкі ділянки, і місця, де можна спокійно насолодитися природою. Гарне співвідношення ціни та вражень.
							</p>
						</div>
					</div>
				</article>
				<div class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-04.jpg" alt="review">
					</div>
				</div>
				<article class="reviews__item item-review">
					<div class="item-review__img">
						<img src="@img/reviews/review-05.jpg" alt="review">
					</div>
					<div class="item-review__body">
						<h3 class="item-review__title">Подарував катання дівчині на день народження — влучив на 100%.</h3>
						<div class="item-review__text">
							<p>
								Інструктор уважний, постійно слідкував за групою. Атмосфера дуже дружня, без «конвеєра».
							</p>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once class="join">
		<div class="join__container">
			<div class="join__content">
				<div class="join__wrapper">
					<h2 class="join__title title title--left">Готові до заїзду?</h2>
					<div class="join__text">Заповніть форму нижче, а ми зв’яжемось з вами найближчим часом для узгодження
						деталей.</div>
					<form id="join-member" class="join__form form" data-fls-form="dev" method="POST" action="#">
						<div class="form__row">
							<input data-fls-input required type="text" name="name" data-fls-form-errtext="Обов'язкове поле!"
								placeholder="Ім'я"
								class="form__input input">
						</div>
						<div class="form__row">
							<input data-fls-input data-fls-phone required type="text" name="phone"
								data-fls-form-errtext="Не вірно вказано телефон!"
								placeholder="Телефон"
								class="form__input input">
						</div>
						<button type="submit" class="form__button button">Надіслати</button>
					</form>
				</div>
				<div aria-hidden="true" class="join__info info-join">
					<h2 class="info-join__title title title--left">Дякуємо!</h2>
					<div class="info-join__text">
						<p>Ми отримали вашу заявку та незабаром наш менеджер зв’яжеться з вами для узгодження деталей. </p>
					</div>
					<div class="info-join__subtitle">До зустрічі на заїзді!</div>
				</div>
			</div>
			<div class="join__body">
				<div class="join__line">
					<div class="join__label">Контакти</div>
					<ul class="join__contacts contacts">
						<li class="contacts__item">
							<a href="tel:+380980979501" class="contacts__link">
								<img src="@img/icons/phone.svg" alt="icon phone" class="contacts__icon">
								+38 (098) 097 9501
							</a>
						</li>
						<li class="contacts__item">
							<address class="contacts__link">
								<img src="@img/icons/point.svg" alt="icon point" class="contacts__icon">
								Славсько, Карпати
							</address>
						</li>
					</ul>
				</div>
				<div class="join__line">
					<div class="join__label">Соцмережі</div>
					<ul data-fls-socials class="join__socials socials">
						<li class="socials__item">
							<a target="_blank" href="https://www.instagram.com/ekstrim_kvadro_slavsko?igsh=d2hnMXI1ZzJhNHY0&utm_source=qr"
								class="socials__link">
								<img src="@img/icons/social-instagram.svg" alt="icon instagram" class="socials__img">
							</a>
						</li>
						<li class="socials__item">
							<a target="_blank" href="viber://chat?number=%2B380980979501" class="socials__link">
								<img src="@img/icons/social-viber.svg" alt="icon viber" class="socials__img">
							</a>
						</li>
						<li class="socials__item">
							<a target="_blank" href="https://t.me/taras_denechko" class="socials__link">
								<img src="@img/icons/social-telegram.svg" alt="icon telegram" class="socials__img">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<img src="@img/join/background.jpg" alt="background" aria-hidden="true" class="join__bg">
	</section>
	<section data-fls-watcher data-fls-watcher-threshold="0.3" data-fls-watcher-once class="questions">
		<div class="questions__container">
			<h2 class="questions__title title">Часті запитання</h2>
			<div data-fls-spollers class="spollers">
				<details data-fls-spollers-open class="spollers__item">
					<summary class="spollers__title">Чи потрібен досвід керування квадроциклом, щоб взяти участь
						у
						заїзді?</summary>
					<div class="spollers__body">
						<div class="spollers__text">
							<p>
								Ні, спеціальний досвід не потрібен. Перед стартом кожен учасник проходить детальний інструктаж із техніки
								безпеки та керування квадроциклом. Під час маршруту вас супроводжує досвідчений інструктор, тому заїзд буде
								комфортним і безпечним навіть для новачків.
							</p>
						</div>
					</div>
				</details>
				<details class="spollers__item">
					<summary class="spollers__title">Що входить у вартість прокату?</summary>
					<div class="spollers__body">
						<div class="spollers__text">
							<p>
								У вартість входить усе необхідне для комфортної та безпечної поїздки:
							</p>
							<ul class="spollers__list list-spollers">
								<li class="list-spollers__item">
									сучасний та справний квадроцикл
								</li>
								<li class="list-spollers__item">
									супровід досвідченого інструктора
								</li>
								<li class="list-spollers__item">
									повне екіпірування: захисний костюм і шолом
								</li>
							</ul>
							<p>Вам залишається лише отримувати драйв і яскраві емоції</p>
						</div>
					</div>
				</details>
				<details class="spollers__item">
					<summary class="spollers__title">Чи можна кататися удвох на одному квадроциклі?</summary>
					<div class="spollers__body">
						<div class="spollers__text">
							<p>
								Так, можна. Наші квадроцикли розраховані на двох осіб, тому ви можете кататися разом — із другом, коханою
								людиною або рідними.
							</p>
						</div>
					</div>
				</details>
			</div>
		</div>
		<img src="@img/decors/decor-trace.svg" alt="decor" aria-hidden="true" class="questions__decor">
	</section>
	<section class="more">
		<div class="more__container">
			<h4 class="more__title">Прокат квадроциклів — активний відпочинок та яскраві враження.</h4>
			<div class="more__text">
				<p>
					Прокат квадроциклів — це ідеальний спосіб урізноманітнити відпочинок, отримати заряд адреналіну та побачити природу
					з нового ракурсу. Катання на квадроциклах підходить як для новачків, так і для тих, хто вже має досвід керування
					мототехнікою. Перед стартом кожен учасник проходить обов’язковий інструктаж, що гарантує безпеку та комфорт під час
					поїздки.
				</p>
				<p>
					Ми пропонуємо сучасні та технічно справні квадроцикли, які регулярно проходять обслуговування. Маршрути підібрані
					таким чином, щоб поєднувати драйв, мальовничі локації та різні рівні складності. У програмі катання можуть бути
					лісові дороги, ґрунтові траси, підйоми, спуски та ділянки з бездоріжжям.
				</p>
				<p>
					Катання на квадроциклах — чудовий варіант для відпочинку з друзями, сімейного дозвілля, корпоративних заходів або
					подарунка на день народження. Ми надаємо захисне екіпірування та супровід досвідченого інструктора, який допомагає
					на маршруті та стежить за дотриманням правил.
				</p>
				<p>
					Обираючи наш прокат квадроциклів, ви отримуєте не просто техніку, а повноцінну пригоду з позитивними емоціями та
					яскравими спогадами. Активний відпочинок на квадроциклах — це поєднання свободи руху, швидкості та близькості до
					природи.
				</p>
			</div>
		</div>
	</section>
</div>
