// Базові стилі спойлерів
// Сніппет (HTML): spoller

[data-fls-spollers] {
	details {
	}
	summary {
		list-style: none;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
	}
}

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 32px;
}
// Спойлер
.spollers__item {
	font-size: toRem(20);
	opacity: 0;
	translate: 0 35px;
	.--watcher-view & {
		transition:
			opacity 0.4s,
			translate 0.4s;
		opacity: 1;
		translate: 0 0;
		$startDelay: 0.3;
		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				$delay: ($i - 1) * 0.15 + $startDelay;
				transition-delay: #{$delay}s;
			}
		}
	}
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	border-radius: 5px;
	position: relative;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;
	font-size: 20px;
	line-height: 1.3;
	text-transform: uppercase;
	font-family: $fontDela;
	padding-bottom: 16px;
	border-bottom: 1px solid #bcbcbc;
	transition: color 0.3s;
	&::marker,
	&::-webkit-details-marker {
		display: none;
	}
	.--spoller-init & {
		cursor: pointer;
		&::after {
			content: "\f101";
			font-family: "iconfont";
			font-size: 16px;
			flex-shrink: 0;
			color: #000;
			transition: rotate 0.3s;
			will-change: rotate;
		}

		&.--spoller-active {
			&::after {
				rotate: -180deg;
			}
		}
	}
	html:not([data-fls-touch]) & {
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				color: $accentColor;
			}
		}
	}
	@media (max-width: toEm($mobile)) {
		font-size: 16px;
	}
}
// Контент спойлера
.spollers__body {
}

.spollers__text {
	padding-top: 24px;
	font-weight: 500;
	line-height: 1.3;
	p:not(:last-child) {
		margin-bottom: 8px;
	}
	@media (max-width: toEm($mobile)) {
		padding-top: 16px;
		font-size: 14px;
	}
}

// .--spoller-init & {
// 	position: relative;
// 	width: 100%;
// 	text-align: left;
// 	&::before,
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		right: 0;
// 		top: toRem(12);
// 		height: toRem(1);
// 		transition: all 0.3s ease 0s;
// 		width: toRem(10);
// 		background-color: #000;
// 	}
// 	&::before {
// 		transform: rotate(40deg);
// 		right: toRem(7);
// 	}
// 	&::after {
// 		transform: rotate(-40deg);
// 	}
// }
// &.--spoller-active {
// 	&::before {
// 		transform: rotate(-40deg);
// 	}
// 	&::after {
// 		transform: rotate(40deg);
// 	}
// }
