// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;
	background-color: $lightColor;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.link {
	display: inline-flex;
	align-items: center;
	column-gap: 11px;
	font-weight: 600;
	color: $yellowColor;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s;
	&::before {
		content: "";
		width: 18px;
		aspect-ratio: 1;
		flex-shrink: 0;
		object-fit: contain;
		background: url("@img/icons/phone.svg") 0 0 no-repeat;
	}
	html:not([data-fls-touch]) & {
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				text-decoration-color: $yellowColor;
			}
		}
	}
}

.button {
	border-radius: 16px;
	padding: 12px 24px;
	background-color: $yellowColor;
	font-weight: 600;
	color: #fff;
	transition: background-color 0.3s;
	html:not([data-fls-touch]) & {
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				background-color: $yellowColorHover;
			}
		}
	}
}

.title {
	line-height: 1.1;
	text-transform: uppercase;
	color: $accentColor;
	font-family: $fontDela;
	color: $accentColor;
	@include adaptiveValue("font-size", 32, 20);
	// .title--big
	&--big {
		@include adaptiveValue("font-size", 52, 30, 2, $containerWidth, 768);
		@include adaptiveValue("font-size", 32, 26, 3, 768, 320);
	}
	// .title--c-dark
	&--c-dark {
		color: $darkColor;
	}
}
