.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 27px;
	&--small {
		gap: 18px;
	}
	// .socials__item
	&__item {
		flex-shrink: 0;
	}
	// .socials__link
	&__link {
		width: 38px;
		aspect-ratio: 1;
		will-change: rotate;
		transition: rotate 0.4s;
		.socials--small & {
			width: 26px;
		}
		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover {
					rotate: 12deg;
				}
			}
		}
	}
	// .socials__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
