<header data-fls-watcher data-fls-header data-fls-header-scroll data-fls-lp class="header">
	<div class="header__container">
		<a data-fls-scrollto-header data-fls-scrollto=".index" href="#" class="header__logo">
			<img src="@img/logo.svg" alt="Logo Ekstrim Kvadro">
		</a>
		<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
		<div class="header__actions">
			<a data-fls-dynamic=".menu__body,600" href="telс:+380680000000" class="header__link link">+38 (068) 000 00 00</a>
			<a data-fls-scrollto-header data-fls-scrollto=".join" data-fls-dynamic=".menu__body,400" href="#"
				class="header__button button">Забронювати заїзд</a>
		</div>
		<button data-burger type="button" class="header__icon icon-menu"><span></span></button>
	</div>
</header>