//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	height: 29px;
	display: block;
	border-bottom: 1px solid #eee;
	caret-color: inherit;
	text-transform: uppercase;
	font-family: $fontDela;
	outline: none;
	transition: border-color 0.3s;
	color: $lightColor;
	&::placeholder {
		color: $lightColor;
	}
	&.--form-focus {
		border-color: $accentColor;
	}
	&.--form-error {
	}
}
.input[placeholder]:not([data-fls-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}
textarea.input {
	resize: vertical;
	padding: 0px 0px;
}
