<div data-fls-menu class="header__menu menu">
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#about","ancor": "Про нас"},
					{"href": "#routes","ancor": "Маршрути"},
					{"href": "#driving","ancor": "Як проходить заїзд?"},
					{"href": "#prices","ancor": "Ціни"},
					{"href": "#reviews","ancor": "Відгуки"},
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]"
							class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" data-fls-scrollto-header data-fls-scrollto="[[item.href]]"
							class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->