.menu {
	@media (max-width: toEm($tablet)) {
		position: fixed;
		width: 300px;
		height: 100svh;
		left: -100%;
		top: 0;
		overflow: auto;
		padding: 85px 15px 30px 15px;
		transition:
			left 0.3s,
			opacity 0.3s;
		background-color: $lightColor;
		opacity: 0;
		&::before {
			content: "";
			position: fixed;
			width: 300px;
			height: 70px;
			left: -100%;
			top: 0;
			transition: left 0.3s;
			z-index: 2;
			background-color: $lightColor;
		}
		[data-fls-menu-open] & {
			left: 0;
			opacity: 1;
			&::before {
				left: 0;
			}
		}
	}
	@media (max-width: toEm($mobile)) {
		width: 100%;
		padding-top: 110px;
		&::before {
			width: 100%;
		}
	}

	// .menu__body
	&__body {
		@media (max-width: toEm($tablet)) {
			> *:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	// .menu__list
	&__list {
		@include adaptiveValue("column-gap", 32, 15, 0, $containerWidth, 992);
		@media (min-width: toEm($tablet)) {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			row-gap: 8px;
		}
	}
	// .menu__item
	&__item {
		@media (max-width: toEm($tablet)) {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
	// .menu__link
	&__link {
		color: $darkColor;
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.3s;
		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover {
					text-decoration-color: $darkColor;
				}
			}
		}
		@media (max-width: toEm($tablet)) {
			font-size: 22px;
			font-weight: 500;
		}
	}
}
