// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	color: #000;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		border: 1px solid #d9d9d9;
		background-color: $lightColor;
		transition: background-color 0.3s;
		cursor: pointer;
		.--select-focus & {
			background-color: #fff;
		}
		width: 100%;
		border-radius: 16px;
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: 51px;
		gap: 10px;
		padding-inline: 16px;
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			background: url("@img/icons/arrow-select.svg") center / contain no-repeat;
			align-self: stretch;
			flex: 0 0 11px;
			height: 6px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;
			.--select-open & {
				transform: rotate(-180deg);
			}
		}
		&.--select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 500;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		padding: 0 10px;
		width: 100%;
		background-color: transparent;
		height: 100%;
		.--select-active & {
			&::placeholder {
				color: #000;
			}
		}
		.--select-focus & {
			&::placeholder {
				opacity: 0.5;
			}
		}
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: calc(100% + 6px);
		border-radius: 16px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding: 10px 0px 10px 0px;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 10px 16px;
		color: inherit;
		transition: background-color 0.2s;
		&.--select-selected {
			background-color: #eee;
		}
		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover {
					background-color: $grayColor;
				}
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% + 6px);
		}
	}

	// Стан селекту
	&.--select-open {
	}
	&.--select-disabled {
	}
	&.--select-active {
	}
	&.--select-focus {
	}
	&.--select-multiple {
	}
	&.--select-checkbox {
	}
}

// Тег
.--select-tag {
	cursor: pointer;
}
