.footer {
	padding-block: 32px 56px;
	background-color: $darkColor;
	@media (max-width: toEm($tablet)) {
		padding-block: 32px;
	}
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 56, 30, 0, $containerWidth, 1000);
		@media (max-width: toEm(1140)) {
			flex-wrap: wrap;
			row-gap: 32px;
			justify-content: space-between;
		}
		@media (max-width: toEm(850)) {
			flex-direction: column;
		}
	}
	// .footer__logo
	&__logo {
		width: 134px;
		flex-shrink: 0;
	}
	// .footer__menu
	&__menu {
		display: grid;
		grid-template-columns: repeat(3, minmax(auto, 210px));
		gap: 8px;
		@media (min-width: toEm(851)) {
			flex-basis: 646px;
		}
		@media (max-width: toEm($mobile)) {
			grid-template-columns: auto;
			text-align: center;
		}
	}
	// .footer__column
	&__column {
	}
	// .footer__title
	&__title {
		font-weight: 600;
		line-height: 1.3;
		color: $accentColor;
		margin-bottom: 8px;
	}
	// .footer__text
	&__text {
		line-height: 1.3;
		color: $lightColor;
		transition: text-decoration-color 0.3s;
		text-decoration: underline;
		text-decoration-color: transparent;
		html:not([data-fls-touch]) & {
			@media (any-hover: hover), (pointer: fine) {
				&:hover:is(a) {
					text-decoration-color: $lightColor;
				}
			}
		}
	}
	// .footer__socials
	&__socials {
		@media (max-width: toEm($mobile)) {
			justify-content: center;
		}
	}
	// .footer__agency
	&__agency {
		text-align: right;
		color: #d9d9d9;
		line-height: 1.3;
		@media (min-width: toEm(851)) {
			flex-grow: 1;
		}
		@media (max-width: toEm(1140)) {
			flex-basis: 100%;
			text-align: center;
		}
	}
}
.socials {
	// .socials--small
	&--small {
	}
	// .socials__item
	&__item {
	}
	// .socials__link
	&__link {
	}
	// .socials__img
	&__img {
	}
}
