<footer data-fls-footer class="footer">
	<div class="footer__container">
		<img src="@img/logo-light.svg" alt="logo ekstrim kvadro" class="footer__logo">
		<div class="footer__menu">
			<div class="footer__column">
				<h5 class="footer__title">Ми знаходимось:</h5>
				<address class="footer__text">Славсько, Карпати</address>
			</div>
			<div class="footer__column">
				<h5 class="footer__title">Контакти:</h5>
				<a href="tel:+380980979501" class="footer__text">+38 (098) 097 9501</a>
				<div class="footer__text">Тарас</div>
			</div>
			<div class="footer__column">
				<h5 class="footer__title">Ми у соцмережах:</h5>
				<ul data-fls-socials class="footer__socials socials socials--small">
					<li class="socials__item">
						<a href="#" class="socials__link">
							<img src="@img/icons/social-instagram.svg" alt="icon instagram" class="socials__img">
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<img src="@img/icons/social-viber.svg" alt="icon viber" class="socials__img">
						</a>
					</li>
					<li class="socials__item">
						<a href="#" class="socials__link">
							<img src="@img/icons/social-telegram.svg" alt="icon telegram" class="socials__img">
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__agency">Developed and maintained by vau.agency.</div>
	</div>
</footer>